<header>
    <h1>Welcome, <%= userName %>!</h1>
    <nav>
        <a href="home">home</a>
        <a href="/transactions">Transactions</a>
        <a href="/savings">Savings</a>
        <a href="/debts">Debts</a>
        <a href="/logout">Logout</a>
        <!-- <a href="/notifications">Notifications</a> -->
    </nav>
</header>