<header>
  <nav>
    <!-- <a href="home">home</a> -->
    <a href="/transactions">Transactions</a>
    <a href="/savings">Savings</a>
    <a href="/debts">Debts</a>
  </nav>
  <h1>Welcome, <%= userName %>!</h1>
   
</header>
<style>
    
     a{
        text-decoration: none;
        color: rgb(30, 111, 30);
        font-size: 1.3rem;
        font-weight: bold;
        padding: 10px;
        position: relative;
        top: 70px;
         
    
        
     }
     h1{
        color: rgb(30, 111, 30);
        position: relative;
        top: 130px;
     }
</style>

