<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/main.css">
  <title>Savings</title>
</head>
<body>
   
  <!-- <header>
    <h1>Savings</h1>
  </header> -->
  <div class="header">
    <!-- Include the shared header -->
  <%- include('header.ejs') %>
  </div>
  <h1>Savings</h1>
  <!-- Table for Savings -->
  <section>
    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th>Amount (ksh)</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% savings.forEach(saving => { %>
          <tr>
            <td><%= saving.description %></td>
            <td><%= saving.amount %></td>
            <td><%= saving.date %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </section>

  <footer>
    <a href="/transactions">View Transactions</a> | 
    <a href="/debts">View Debts</a> | 
    <a href="/logout">Logout</a>
  </footer>
   
</body>
</html>
